@import "../../assets/themes";
.reviewContainer {
    border-bottom: 2px solid $dark-peach;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 5px 4vw 5px 4vw;
    width: 15em;
    padding: 10px;
    img {
        width: 150px;
        height: 90px;
    }
}
