@import "../../assets/themes.scss";
* {
    text-decoration: none;
}

.shoe_container {
    border-bottom: 2px solid $dark-peach;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 25em;
    height: 20em;
    margin: 50px;
    color: $dark-text;

    > * {
        width: 100%;
    }
    > img {
        width: 300px;
        height: 200px;
    }
    > h3 {
        margin-top: 20px;
    }
    > h4 {
    }
}

.shoe_container:hover {
    box-shadow: 0px 0px 5px $dark-peach;
}
