@import "../../assets/themes.scss";
.landingWrapper {
    background-color: $dark-peach;
    height: 98vh;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.sectionLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;

    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 100%;
        p {
            font-size: 50px;
            text-align: center;
            color: $light-peach;
            margin-bottom: 10px;
        }
        button {
            background-color: $light-peach;
            border: none;
            height: 50px;
            width: 150px;
            color: $dark-peach;
            font-size: 20px;
        }
    }
}
.sectionRight {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;

    div {
        display: flex;
        justify-content: right;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            // object-fit: cover;
            // object-position: center;
        }
    }
}
