$nav-color: #ffffff;
$dark-peach: #3f9952;
$light-peach: #dcfae0;
$light-text: #ffff;
$dark-text: black;

// $nav-color: black;
// $dark-peach: #815252;
// $light-peach: #fae1dc;
// $light-text: #ffff;
// $dark-text: black;
