$nav-color: #82db96;
$dark-peach: #3f9952;
$light-peach: #dcfae0;
$light-text: #ffff;
$dark-text: black;
$white: white;

// $nav-color: black;
// $dark-peach: #815252;
// $light-peach: #fae1dc;
// $light-text: #ffff;
// $dark-text: black;
